body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.308)), url(../images/doom3_main.jpg);
}
.headercont h1, .headercont p{
    text-shadow:    
    0 0 7px #ee6706,
    0 0 10px #f06b19ad,
    0 0 21px #e28000,
    0 0 42px #000000,
    0 0 82px #000000,
    0 0 92px #000000,
    0 0 102px #000000,
    0 0 151px #000000;;
}
header{
    background-image: url(../images/doom3_bg.png);
}
section{
    color: #fff;
}
#kep1{
    background-image: url(..//images/31.jpg);
}
#kep2{
    background-image: url(..//images/32.jpg);
}
#kep3{
    background-image: url(..//images/33.png);
}
#kep4{
    background-image: url(..//images/34.jpeg);
}
#kep6{
    background-image: url(..//images/36.jpg);
}