@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.308)), url(../images/fixedscroll.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
    
}
.subtitle{
    
}
.headercont h1, .headercont p{
    font-size: 200px;
    color: #ffffff;
    margin-top: 250px;
    text-shadow:    
    0 0 7px #ee0606,
    0 0 10px #f01919ad,
    0 0 21px #e20000,
    0 0 42px #000000,
    0 0 82px #000000,
    0 0 92px #000000,
    0 0 102px #000000,
    0 0 151px #000000;;
}
.headercont p{
    font-size: 40px;
    letter-spacing: 20px;
    margin-top: -60px;
}


header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/slayer_and_dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style-type: none;

}
nav{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #00000090;
    z-index: 10;
    box-shadow: 0 0 60px 60px #00000090;

}
nav .link{
    font-size: 30px;
    color: #fff;
}
.link{
    color: black;
    text-decoration: none;
    
}
#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 117vh;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -100;
}
.headercont{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
nav img{
    height: 60px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
main{
    height: 160vh;
    padding-top: 50px;
}
footer{
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 600px;
}
footer ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 300px   ;
}
.creators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}
.creators div{
    display: flex;
    font-size: 50px;
    justify-content: start;
    align-items: center;
    margin: 30px;

}
.creators div img{
    object-fit: cover;
    height: 120px;
    object-position: center center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
footer ul li{
    list-style-type: none;
}
.copyright{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
footer ul li a{
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
footer p{
        color: #ffffff;

}
#xbox{
    height: 180px;
}
.titlecontainer div{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px   ;
    height: 130vh;
}
.noshow{
    display: none;
}
.show{
    display: flex;
}
.titlecontainer div h3{
    font-size: 60px;
    color: rgb(150, 0, 0);
}
.titlecontainer div h3 {
  color: #be0404;
  text-shadow: 
    0 0 7px #be0404,
    0 0 10px #e20303ad,
    0 0 21px #000000,
    0 0 42px #000000,
    0 0 82px #000000,
    0 0 92px #000000,
    0 0 102px #000000,
    0 0 151px #000000;
}

